/*************************************\
        $VARIABLES
\*************************************/
/*************************************\
        $FUNCTIONS
\*************************************/
/*************************************\
        $MIXINS
\*************************************/
/*************************************\
        $RESETS
\*************************************/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Space Mono", monospace;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

/*************************************\
        $MAINS
\*************************************/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #c5e4e7;
}

/*************************************\
        $FORMS
\*************************************/
.form-calculator {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  background-color: white;
  max-width: 550px;
  width: 70%;
  min-width: 300px;
  padding: 24px 30px;
  border-radius: 14px;
}
.form-calculator__container-button {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 10px 0 24px;
}

/*************************************\
        $BUTTONS
\*************************************/
.button--custom, .button--dark {
  padding: 4px;
  border: none;
  font-weight: 700;
  border-radius: 4px;
}

.button--dark {
  background-color: #00474b;
  color: #f4fafa;
}

.button--custom {
  color: #7f9c9f;
  background-color: #f4fafa;
}

/*************************************\
        $INPUT
\*************************************/
.input--time, .input--loan {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 2px;
  position: relative;
  background-color: #f4fafa;
  outline: none;
}
.input--time::-webkit-input-placeholder, .input--loan::-webkit-input-placeholder {
  text-align: right;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: rgba(127, 156, 159, 0.7);
}
.input--time::-moz-placeholder, .input--loan::-moz-placeholder {
  text-align: right;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: rgba(127, 156, 159, 0.7);
}
.input--time:-ms-input-placeholder, .input--loan:-ms-input-placeholder {
  text-align: right;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: rgba(127, 156, 159, 0.7);
}
.input--time::-ms-input-placeholder, .input--loan::-ms-input-placeholder {
  text-align: right;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: rgba(127, 156, 159, 0.7);
}
.input--time::placeholder, .input--loan::placeholder {
  text-align: right;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: rgba(127, 156, 159, 0.7);
}
.input--time::before, .input--loan::before {
  content: "./../assets/icon/icon-dollar.svg";
  display: block;
  position: absolute;
  color: rgba(127, 156, 159, 0.7);
}

.input--loan {
  margin-bottom: 20px;
}

/*************************************\
        $LABELS
\*************************************/
.label {
  display: block;
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: rgba(0, 0, 0, 0.7);
}