/*************************************\
        $VARIABLES
\*************************************/
/*************************************\
        $MAINS
\*************************************/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #c5e4e7;
}

/*************************************\
        $FORMS
\*************************************/