/*************************************\
        $FORMS
\*************************************/
.form-calculator{
        display: grid;
        column-gap: 20px;
        background-color: $color-white;
        max-width: max-content;
        width: 70%;
        min-width: 300px;
        margin-top: 50px;
        padding: 24px 30px;
        border-radius: 14px;
        &__container-capture{
                display: grid;
                grid-template-columns: 1fr;
        }
        &__container-button{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 10px;
                margin: 10px 0 24px;
        }
        &__container-result{
                padding: 24px;
                background-color: $color-dark-background;
                border-radius: 10px;
        }
        &__result{
                display: grid;
                grid-template-columns: repeat(5,auto);
                column-gap: 10px;
                justify-content: space-between;
                align-items: center;
        }
}