/*************************************\
        $MAINS
\*************************************/
.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $color-lite-grayish-cyan-solid;
}
