/*************************************\
$BUTTONS
\*************************************/
%buttons {
  padding: 4px;
  border: none;
  font-weight: 700;
  border-radius: 4px;
  @include font-size(map-get($font-sizes, normal));
}
.button-- {
  &dark,
  &custom,
  &calcular,
  &reset {
    @extend %buttons;
  }
  /* 
  &dark {
    color: rgba($color-lite-grayish-cyan-transparent, 0.9);
    background-color: $color-dark-background;
    cursor: pointer;
  }
  &custom {
    color: $color-dark-grayish-cyan;
    background-color: $color-lite-grayish-cyan-transparent;
    cursor: pointer;
  }
  */
  @include button(
    dark,
    rgba($color-lite-grayish-cyan-transparent, 0.9),
    $color-dark-background
  );
  @include button(
    custom,
    $color-dark-grayish-cyan,
    $color-lite-grayish-cyan-transparent
  );
  &calcular {
    text-transform: uppercase;
  }
  &reset {
    width: 100%;
    margin-top: 20px;
    text-transform: uppercase;
  }
}
