/*************************************\
        $BUTTONS
\*************************************/
%buttons {
  padding: 4px;
  border: none;
  font-weight: 700;
  border-radius: 4px;
}
.button-- {
  &dark,
  &custom,
  &calcular,
  &reset {
    @extend %buttons;
  }
  &dark {
    background-color: $color-dark-background;
    color: rgba($color-lite-grayish-cyan-transparent, 0.9);
    cursor: pointer;
  }
  &custom {
    cursor: pointer;
    color: rgba($color-dark-grayish-cyan, 1);
    background-color: $color-lite-grayish-cyan-transparent;
  }
  &calcular {
    text-transform: uppercase;
  }
  &reset {
    width: 100%;
    margin-top: 20px;
    @include font-size(14px);
    text-transform: uppercase;
  }
}
