/*************************************\
        $BUTTONS
\*************************************/
%buttons{
    padding: 4px;
    border: none;
    font-weight: 700;
    border-radius: 4px;
}
.button--dark{
    background-color: $color-dark-background;
    color: rgba($color-lite-grayish-cyan-transparent,.9);
    cursor: pointer;
    @extend %buttons;
}
.button--custom{
    @extend %buttons;
    cursor: pointer;
    color: rgba($color-dark-grayish-cyan, 1);
    background-color: $color-lite-grayish-cyan-transparent;
}
.button--reset{
    @extend %buttons;
    @include font-size(14px);
    color: rgba($color-dark-background,.4);
    text-transform: uppercase;
    background-color: rgba($color-dark-grayish-cyan,0.4);
    cursor: not-allowed;
}