/*************************************\
        $INPUT
\*************************************/
%input {
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
  border: none;
  border-radius: 2px;
  position: relative;
  background-color: $color-lite-grayish-cyan-transparent;
  outline: none;
  &::placeholder {
    text-align: right;
    font-family: $font-principal;
    font-weight: 700;
    color: rgba($color-dark-grayish-cyan, 0.7);
  }
  &::before {
    content: "./../assets/icon/icon-dollar.svg";
    display: block;
    position: absolute;
    color: rgba($color-dark-grayish-cyan, 0.7);
  }
  &:focus {
    border-bottom: 1px solid blue;
  }
}

.input {
  &--loan,
  &--time {
    @extend %input;
  }
}
