/*************************************\
        $LABELS
\*************************************/
%label {
  display: block;
  @include font-size(12px);
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
}
.label-- {
  &capture,
  &result {
    @extend %label;
  }
  &result {
    text-align: center;
    color: $color-lite-grayish-cyan-transparent;
  }
}
