.alter-sucesfull {
  border: 1px solid $color-suscefull;
}
.alter-error {
  border: 1px solid $color-error;
}
.disable{
  color: $color-disable;
  background-color: $color-background-disable;
  cursor: not-allowed;
}
.habilited {
  cursor: pointer;
  color: $color-habilited;
  background-color: #f5d254;
  opacity: 1;
}
