/*************************************\
        $VARIABLES
\*************************************/
//$COLORS
$color-dark-grayish-cyan: hsl(184, 14%, 56%);
$color-dark-background: rgb(0 71 75);
$color-lite-grayish-cyan-solid: hsl(185, 41%, 84%);
$color-lite-grayish-cyan-transparent: hsl(189, 41%, 97%);
$color-white: hsl(0, 0%, 100%);

//COLORS DISABLES
$color-disable: rgba($color-dark-background, 0.4);
$color-background-disable: rgb(51 105 108);

//COLOR HABILITED
$color-habilited: $color-dark-background;
$color-background-habilited: yellow;

//$COLORS ALERTS
$color-suscefull: green;
$color-error: red;
$color-select: blue;

//$FONTS
$font-principal: "Space Mono", monospace;
